<a href="https://colab.research.google.com/github/sheli90610/NumPy/blob/master/Unit_2_L2_String_and_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#The len() function returns the length of a string:
 
a = "Hello, World!"
print(len(a))

13

In [ ]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)
print("hhhhe" in txt)

True
False

In [ ]:
age = 36
txt = "My name is me, and I am {} years old"
print(txt.format(age))

My name is me, and I am 36 years old

In [ ]:
#Demonstrate one String Concatenation example.
str_a = 'String'
str_b = 'Example' 
str_c = str_a + ' Concatenation ' + str_b
print(str_c)

String Concatenation Example

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list3))

<class 'list'>

In [ ]:
thislist = ["apple", 66, "orange",]

print(thislist)

['apple', 66, 'orange']

In [ ]:
nest#To add new values to the end of the nested list, use append() method.
L = ['a', ['bb', 'cc'],['f','g'], 'd']

Lw = ['a''bb','5' 'cc']
print(L)
print(Lw)
# Prints ['a', ['bb', 'cc', 'xx'], 'd']

['a', ['bb', 'cc'], ['f', 'g'], 'd']
['abb', '5cc']

In [ ]:
# insert an item at a specific position in a nested list, use insert() method.
L = ['a', ['bb', 'cc'], 'd']
L[1].insert(2,'xx')
print(L)

['a', ['bb', 'cc', 'xx'], 'd']

In [ ]:
#change the value of a specific item in a nested list by referring to its index number.
L = ['a', ['bb', 'cc'], 'd']
L[1][1] = 'k'
print(L)

['a', ['bb', 'k'], 'd']

In [ ]:
#You can merge one list into another by using extend() method.
L = ['a', ['bb', 'cc'], 'd']
L[1].extend(['g',2,3])
print(L)

['a', ['bb', 'cc', 'g', 2, 3], 'd']

In [ ]:
testt = ["applue", "banana", "cherry"]
if "apple" in testt:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
fruits=[55,'banana','cherry']
fruits.append("orange")
print(fruits)

[55, 'banana', 'cherry', 'orange']

In [ ]:
#Add a list to a list:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [ ]:
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])
print('nnn')

apple
banana
cherry
nnn

In [ ]:
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#extend elements from another list to the current list,
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
fruit1 = ["pineapple", "kwi", "cherry","Lemon","babana"]
print(fruit1)
fruit2 = ("melon", "orange")
fruit1.extend(fruit2)
print(fruit1)
print(len(fruit1))
fruit1.remove("orange")
print(fruit1)
print(len(fruit1))
fruit1.sort()
print("sorted List",fruit1)

['pineapple', 'kwi', 'cherry', 'Lemon', 'babana']
['pineapple', 'kwi', 'cherry', 'Lemon', 'babana', 'melon', 'orange']
7
['pineapple', 'kwi', 'cherry', 'Lemon', 'babana', 'melon']
6
sorted List ['Lemon', 'babana', 'cherry', 'kwi', 'melon', 'pineapple']

In [ ]:
a = ["car", ["bmw", "kia", "ford"], "Truck", ["pick up", "monster truck", ["ford", "gmc"]], "motorcycle", ["Honda"]]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[1][1])

#to get ford which is in 3rd list (second list) and 0 element
a[3][2][0]

car
['bmw', 'kia', 'ford']
Truck
['pick up', 'monster truck', ['ford', 'gmc']]
kia

'ford'

In [ ]:
fruit1 = ["pineapple", "kwi", "cherry","lemon","babana"]
print(fruit1)
fruit2 = ["melon", "orange"]
fruit1.extend(fruit2)
print(fruit1)
print(len(fruit1))
fruit1.remove("orange")
print(fruit1)
print(len(fruit1))
fruit1.sort()
print(fruit1)

['pineapple', 'kwi', 'cherry', 'lemon', 'babana']
['pineapple', 'kwi', 'cherry', 'lemon', 'babana', 'melon', 'orange']
7
['pineapple', 'kwi', 'cherry', 'lemon', 'babana', 'melon']
6
['babana', 'cherry', 'kwi', 'lemon', 'melon', 'pineapple']

In [ ]:
#Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list1[:3]

['physics', 'chemistry', 1997]

In [ ]:
for number in range(1, 10):
    if(number % 2 !=0):
        print(number)

1
3
5
7
9

Lecture 5

In [ ]:
bike='honda'
bike=='honda'

True

In [ ]:
patientexam='ecg'
if(patientexam !='ecg'):
 print('incorect exam')
print('corect exam')

corect exam

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
#readmit days after discharge from hospital = 29 you will ger error why?
readmit_days_after_discharge_from_hospital = 29
if readmit_days_after_discharge_from_hospital < 30:
  print ('patient readmited whithin 30 days')
else:
  print ('patient readmited after 30 days')

patient readmited whithin 30 days

In [ ]:
#multiple conditions and
a = 200
b = 33
c = 100
if a > b or c > a:
  print("one conditions are True")

one conditions are True

In [ ]:
#multiple conditions or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
# Nested If 
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
#Check If List Item Exists
#To determine if a specified item is present in a list use the in keyword:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
patient_exam_record=['echo','ct','scan']
'cvt' in patient_exam_record

False

In [ ]:
patient_exam_record_alergieas=['latex','penecilin','asperin']
new_alergie='asma'
if new_alergie in patient_exam_record_alergieas:
  print('alergie in patient_exam_record')
else:
  print('patient doesnt have '+ new_alergie)
  print(new_alergie +' is not in patient alergie list ')

patient doesnt have asma
asma is not in patient alergie list

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

# **Lect 6 Dictionaries**

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is unordered and changeable. No duplicate members.
When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

In [ ]:
#Dictionary
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is unordered, changeable and does not allow duplicates.
#Dictionaries are written with curly brackets, and have keys and values:
#Create and print a dictionary:

patient_1 =	{
  "first_name": "john",
  "Last_name": "baker"
}
print(patient_1['first_name'])
print(patient_1['Last_name'])
print(patient_1['first_name'],patient_1['Last_name']+' how are you')

john
baker
john baker how are you

In [ ]:
patient_1 =	{
  "first_name": "john",
  "last_name": "baker",
  'mrn':'098987'
}
patient_name=patient_1['first_name']
print("hello there, "+ patient_name)
print(patient_1)
patient_1['mcrn']='999222'
patient_1['new key']='bbds'
patient_1

hello there, john
{'first_name': 'john', 'last_name': 'baker', 'mrn': '098987'}

{'first_name': 'john',
 'last_name': 'baker',
 'mcrn': '999222',
 'mrn': '098987',
 'new key': 'bbds'}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964}
print(thisdict)
thisdict ['owner']='mark'
print(thisdict)
#to modify the value
thisdict ['brand'] ='mercedes benz'
print(thisdict)
#to remove the value
del thisdict ['brand']
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'owner': 'mark'}
{'brand': 'mercedes benz', 'model': 'Mustang', 'year': 1964, 'owner': 'mark'}
{'model': 'Mustang', 'year': 1964, 'owner': 'mark'}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
for key,value in thisdict.items():
  print(key,value)
# to print keys only
  print(key)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
brand Ford
brand
model Mustang
model
year 1964
year

In [ ]:
#Loop Through a Dictionary
#You can loop through a dictionary by using a for loop.

thisdict =	{
  "name": "Ford",
  "Last_Name": "baker",
  "mrn": "023432",
  "db": "1981/04/09"
}
for key,value in thisdict.items():
  print("\nkey:" + key)
  print("\nvalue:" + value)

key:name

value:Ford

key:Last_Name

value:baker

key:mrn

value:023432

key:db

value:1981/04/09

In [ ]:
friend_ages =	{
  "nick": "30",
  "john": "25",
  "sali": "43",
  "dan": "33"}
fav_friend= ["nick","hop"] 
for name in friend_ages.keys():
  print(name.title())

  if name in fav_friend:
 
     print('Hi '+name.title() +",I see you are " + friend_ages[name])

Nick
Hi Nick,I see you are 30
John
Sali
Dan

while loop
Python has two primitive loop commands:
while loops
for loops
The while Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

User Input
Python allows for user input.
That means we are able to ask the user for input.
The method is a bit different in Python 3.6 than Python 2.7.
Python 3.6 uses the input() method.

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:jouhn
Username is: jouhn

In [ ]:
prompt="input a message. i will repeat it untill you type 'quit'"
message=""

while message !='quit':
  message = input(prompt)
  print(message)

input a message. i will repeat it untill you type 'quit'tyyy
tyyy
input a message. i will repeat it untill you type 'quit'quit
quit

Creating a Function
In Python a function is defined using the def keyword:

In [ ]:
#Example creating a function is the first atep
def my_function():
  print("Hello from a function")

In [ ]:
#Calling a Function
#To call a function, use the function name followed by parenthesis:

#Example
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
#Information can be passed into functions as arguments.
def my_function(fname):
  "This function add up namea"
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
#Lec 7 mini project odd,even

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num," is Even".format(num))
else:
   print(num ," is Odd".format(num))

Enter a number: 7
7  is Odd

In [ ]:
#tell if a number devidable by 4
def multiple(m, n):
	return True if m % n == 0 else False
m = int(input("Enter a number: "))
print(multiple(m, 4))

Enter a number: 7
False

In [ ]:
def my_function(age):
  """This function add up namea"""
  text = "My name is john, and I am {} years old"
  print(text.format(age))


age = 36
my_function(age)

My name is john, and I am 36 years old