<a href="https://colab.research.google.com/github/sheli90610/NumPy/blob/master/Unit_3_Lec_2_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a simple Pandas Series from a list:

Unit_3 Lec2 Pandas

In [2]:
#Create a simple Pandas Series from a list:
import pandas as pd 

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [1]:
# Create a simple Pandas Series from a dictionary
import pandas as pd  

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"], 
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [9]:
#Create you own labels:

import pandas as pd 

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

Data Frame,A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [56]:
#Create a simple Pandas DataFrame:

import pandas as pd 

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45



```
labling,colums ,rows
```

In [55]:
labels = ['Rain', 'No Rain']
pd.DataFrame([[27, 63],[7, 268]], columns=labels, index=labels)

         Rain  No Rain
Rain       27       63
No Rain     7      268

In [92]:
import numpy as np 
import pandas as pd 
rows = ['x', 'y','Z', 'W']
coloms = ['1', '2','3', '4']
df = pd.DataFrame(np.random.randint(0,10,size=(4, 4)), columns=coloms,index=rows)
print(df)
df['new']=df['1']
print('==========+++++++++')
print(df)
#To select multiple columns
df[['1','2']]
#del df['column_name']
del df['2']
print('==========+++++++++')
print(df)
#create new data frame using existing one
df2=df[['1','new']]
print('==========+++++++++')
print(df2)
print('==========+++++++++')
print(df2.drop('y'))

   1  2  3  4
x  0  4  0  9
y  4  9  1  6
Z  1  5  7  1
W  7  9  6  2
==========+++++++++
   1  2  3  4  new
x  0  4  0  9    0
y  4  9  1  6    4
Z  1  5  7  1    1
W  7  9  6  2    7
==========+++++++++
   1  3  4  new
x  0  0  9    0
y  4  1  6    4
Z  1  7  1    1
W  7  6  2    7
==========+++++++++
   1  new
x  0    0
y  4    4
Z  1    1
W  7    7
==========+++++++++
   1  new
x  0    0
Z  1    1
W  7    7